 form{
    width: 100%;
    margin: 10px;
 }
  .formulario, .select { 
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.);
    background: rgba(0,0,0,0.1);
    
  }
  
  .formulario__titulo {
    text-align: center;
    margin: 10px;
    color: rgba(0,0,0,0.7);
  }
  .formulario__input, .formulario__label, 
  .formulario__submit, .mytext, .mysl,  .select {
    display: table-caption;
    width:100%;
    font-size: 1.3em;
    margin-bottom: 20px;
    font-weight: bold;
   
  } 
  input[type="text"]:valid + .formulario__label,
  input[type="number"]:valid + .formulario__label,
  input[type="email"]:valid + .formulario__label{
    margin-top: -88px!important;
    color: rgb(13, 172, 39);
  }
  
  .formulario__input, .mytext {
    padding: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.3);
    margin: 20px auto;
  }
  .formulario__input:focus {
    outline: 1px solid rgba(0,0,0,0.7); 
  }
  .formulario__input:focus + 
  .formulario__label {
    margin-top: -88px!important;
  }
  textarea:valid + .mylb{
    margin-top: -150px!important;
    color: rgb(13, 172, 39);
  }
  .mytext:focus + .mylb {
    margin-top: -150px!important;
  }

.mylb {
  margin-top: -120px!important;
}
  .formulario__label {
    padding-left: 15px;
    position: absolute;
    margin-top: -55px;
    z-index: -20;
    color: rgba(0,0,0,0.8);
    transition: all 0.2s;
  } 
  .formulario__submit {
    background: rgba(0,0,0,0.7); 
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    border: none;
  }
  
/*checkbox*/
  input[type="checkbox"]:checked {
    background-color: #000;
    
  }
  .myck {
    font-size: 1.2em;
  }
 /* 
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #000;
    outline: none;
    margin-right: 8px;
    margin-top: 40px;
    vertical-align: middle;
  
  }
  */
  .mycheckbox {
    margin-top: 40px;
  }