$colorPrincipal: #D9D9D9;
$colorBlanco: white;


*{
    padding: 0;
    margin:0;
}

body{
    overflow-y: scroll;
    margin: 0px auto;
}

.logo{
    text-decoration:none;
}

header{
    align-items: center;

}

.menu{
    width: 100%;
    background-color: $colorPrincipal;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-iz{
        display: flex;
        align-items: center;
        font-size: 15px;
        font-family: 'Oswald', sans-serif;;
        i{
            font-size: 25px;
            padding: 5px;
            margin-left: 5px;
        }
        h1{    
            margin-left: 35px;
        }
    }

    a{
        margin: 10px;
        margin-right: 20px;

        .carrito {
            position: relative;
            color: #212529;
            font-size: 30px;
            padding: 5px;
            border-radius: 4px;
           }
             
           .cartAmount {
            position: absolute;
            top: 17px;
            right: 0px;
            font-size: 13px;
            background-color: red;
            color: white;
            padding: 9px;
            border-radius: 50%;
            width: 9px;
            height: 9px;
            margin-top: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
           }

    }
      

}

.fondo-buscador{
    text-align: center;
    padding: 10px;

    .buscador{
        border: solid 1px $colorPrincipal ;
        font-size: 1.1em;
        border-radius: 10px;
        input {
            border: none;
            width: 80%;
            margin-left: -10px;
            background: $colorBlanco;
            padding: 5px;
            font-size: 1.2em;
        }
    }
}

.compartir{
    background-color: $colorPrincipal;
    width: 100%;
    height: 36px;
    justify-content: space-between;
    display: flex;
    align-items: center;

    .compartir-iz{
        font-size: 19px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        margin-top: 2px;

            i{
                font-size: 25px;
                padding: 5px;
                margin-right: 5px;
        
            }
    }


    .compartir-der{
        height: 100%;
        display: flex;
        font-family: 'Times New Roman', Times, serif;
        font-size: 19px;
        align-items: center;

        #categoria{
            font-family: 'Times New Roman', Times, serif;
            font-size: 19px;
            margin-right: 14px;

        }
        #category{
            margin-right: 14px;
            font-size: 0.8em;
        }
        .div-2{
            margin-right: 14px;
            text-decoration: none;
            color: black;
            margin-top: 2px;
        }

        .div-3{
            margin-right: 15px;
            text-decoration: none;
            color: black;
            margin-top: 2px;
        }
    }

/**/
}
.hexagono {
    position: relative;
    display: block;
    background-color: #ff5722;
    width: 26px;
    height: 14px;
    z-index: 999;
    *border: 1px solid #000;
    border-radius: 5%;
    transition: all .5s ease-out;
}

.hexagono:hover {
    cursor: pointer;
    box-shadow: 13px 5px 10px #485299b8;
    transform: scale(1.1);
    transition: all .5s ease-out;
}

.hexagono:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
    transform: rotate(60deg);
    background-color: inherit;
    border-radius: 5%;
}

.hexagono:before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    transform: rotate(-60deg);
    background-color: inherit;
    border-radius: 5%;
}

.hexagono-content {
    position: absolute;
    z-index: 1000;
    width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    font-weight: bold;
    line-height: 25px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 0.9em;
}



.hexagono-content strong {
    display: block;
}

@media screen and (min-width:768px){
    body{
        max-width: 1024px;
        margin: 0 auto;
        border: solid 1px $colorPrincipal;
        box-shadow: 1px 0px 10px #9E9E9E
    }
    .fondo-buscador {
        text-align: center;
        padding: 10px;
        width: 70%;
        margin: 0 auto;
    }
    main section .producto{
        width: 300px!important;
    }
    .fa:hover{
        cursor: pointer;
    }
    

}
