#lista{
    display: block;
    border-radius: 10px;
    border: solid 1px grey;
    width: 100%;
    padding: 5px;
    margin: 20px;
}
.listaProducto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
    align-items: center;
}
.listaProducto img{
    height: 70px;
}
#total{
    text-align: right;
    font-size: 1.6em;

}
#finalizar, #seguir{
    background: white;
    width: 100%;
    margin: 20px auto;
    border-radius: 8px;
    border: solid 1px grey;
    padding: 10px;
    color: grey;
}
.descripLista{
    width: 150px;
}
.imagen-carrito{
    display: flex;
    margin: 0 auto;
}

.titulo-carrito{
    text-align: center;
    color: #636363;
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
}
.p-carrito{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-top: 5px;
}
.button-carrito{
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 0.4em 4.5em;
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color: black;
    transition: all 1.1s ease;
    position: relative;
    display: flex;
    margin: 0 auto;
    margin-top: 13px;
    margin-bottom: 20px;
    cursor: pointer;
}

.button-carrito:hover {
    background:#9299ad;
    color: #fff !important;
}

@media (max-width:380px){
    .titulo-carrito{
        font-size: 35px;
    }
}